.tab-list {
  padding-left: 0;
  display: flex;
  margin: 0;
}

.tab-list-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-content {
  padding: 25px 0;
}
