$red: #d52c1e;
$yellow: #eaad0b;
$yellowhover: #dda408ee;
$disablered: #8a3d3b;
$blue: #1f559d;
$hoverblue: #3f61a9;
$white: #fff;
$black: #000;
$grey: #f0f1f5;
$font: 'Lato', sans-serif;
$fontOpensans: 'Open Sans', sans-serif;
$orange: #eaad0b;
$hoverorange: #f47f01e5;
